body{
    background-color:rgb(37, 37, 37)
}

fieldset{
    background-color: goldenrod;
    border-radius: 45px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;
    width: 50%;
    
}

legend{ /*LOGIN*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

p{ /*Username,Password*/
    margin-right: 40%;
    color: rgb(255, 255, 255);
    font-size: 15pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#username{ /*textbox*/
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 35px;
}

#password{ /*textbox*/
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 35px;
}

#submit{ /*buttonLogin*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    width: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 35px;
}

#reset{ /*buttonClear*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    width: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 35px;
}

 div{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }